annotated-types==0.7.0
beautifulsoup4==4.12.3
boto3==1.35.43
botocore==1.35.43
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
greenlet==3.1.1
idna==3.10
jmespath==1.0.1
lxml==4.9.4
numpy==2.1.2
pandas==2.2.3
psycopg2-binary==2.9.10
pydantic==2.9.2
pydantic_core==2.23.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
requests-futures==1.0.1
s3transfer==0.10.3
sentry-sdk==2.17.0
six==1.16.0
soupsieve==2.6
SQLAlchemy==2.0.36
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
yfinance==0.2.44
